.main
  .main__message-top
    .main__message-top__box
      .main__message-top__box__left
        %p.main__message-top__box__left__group-name
          = @group.name
        %p.main__message-top__box__left__member-name
          member:
          - @group.group_users.each do |group_user|
            = group_user.user.name
      .main__message-top__box__right
        = link_to edit_group_path(@group.id), class:"main__message-top__box__right__a" do
          edit

  .main__message-list
    = render @messages
    
    


  .main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'




     